# Ignore everything
*

# Unignore necessary files
!.bash_profile
!.bashrc
!.gitconfig
!.gitignore
!.profile
!.tmux.conf
!.tmux.conf.local
!.vimrc
!.zrhrc
!README.md

# Unignore necessary directories
!.vim
!bin
